.App {
    text-align: center;
    background-color: #000;
    color: #fff;
    scroll-behavior: smooth;
    font-family: 'Alata', sans-serif;
}

div {
    background-color: #000;
    color: #fff;
}

.transparentBg {
    background-color: rgba(255, 0, 0, 0);
}

.SEorange {
    color: #fb7820;
}

.toggler {
    color: #fff;
}

.navLink {
    color: #fff;
}

.navLink:hover {
    color: #fb7820;
}

button {
    color: #000;
}

button:hover {
    color: #ed1212;
    cursor: pointer;
}

.carouselImage {
    width: auto;
    height: 500px;
}

.img-gradient {
    position: relative;
    display: inline-block;
}

.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 3, 0) 80%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 3, 0) 80%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 3, 0) 80%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.img-gradient img {
    display: block;
}

.img-gradient-overlay {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 3, 0) 80%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 3, 0) 80%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 3, 0) 80%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#wrapperVS1 {
    height: 600px;
}

#projectVS1 {
    margin-left: 100px auto;
    display: flex;
    justify-content: center;
    -ms-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

#projectVS1 .container #textVS1 {
    color: #fff;
}

#projectVS1 .container #testVS1:hover {
    cursor: pointer;
    color: #fb7820;
    transition-duration: 0.1s;
}

#imgVS1 {
    height: 500px;
    width: 100%;
}

#aboutFD {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
}

#aboutCont {
    margin-top: 100px;
    margin-bottom: 100px;
}

#footer {
    margin-top: 10px;
}

#footerFD {
    padding-top: 100px;
}

#footerFD p {
    margin-left: 50px;
}

#footerFD2 {
    padding-top: 100px;
}

#footerFD2 p {
    margin-left: 50px;
}

#footerSD {
    padding-top: 50px;
}

#footerSD p span {
    float: right;
    margin-right: 50px;
}

#footerSD2 {
    padding-top: 185px;
}

#footerSD2 .row {
    margin-right: 30px;
}

#footerSD2 p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

#footerSD2 p:hover {
    cursor: pointer;
    color: #fb7820;
    transition-duration: 0.2s;
}

#footerSub {
    background-color: #fb7840;
    color: #fff;
    border: 2px solid #fb7840;
    padding: 10px;
    width: 300px;
    font-weight: 500;
    align-self: center;
    margin-left: 8%;
}

#footerSub:hover {
    background-color: #000;
    color: #fff;
}

#colF p {
    margin-left: 50px;
}

#colF p span {
    margin-left: 30px;
}

#brand {
    color: #fff;
    text-decoration: none;
}

#brand:hover {
    color: #fb7820;
    text-decoration: none;
}

#footerLogo {
    transform: translate(50px, 0);
    width: 400px;
    height: 140px;
    display: none;
}

.footerNavLink {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.footerNavLink:hover {
    cursor: pointer;
    color: #fb7820;
    transition-duration: 0.2s;
}

#servicesP p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 180px;
}

#servicesP2 p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-align: justify;
    margin-right: 80px;
}

.projectDisplayContainer {
    background-color: #141414;
    border: 1px solid #141414;
    align-content: center;
}

.image {
    width: 350px;
    height: 350px;
    overflow: hidden;
    display: block;
}

@media(max-width: 500px) {
    #projectRow {
        margin-bottom: 50px;
    }
    #wrapperVS1 {
        height: auto;
        margin-bottom: 50px;
    }
    #projectVS1 {
        margin: auto;
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    #imgVS1 {
        height: 300px;
        width: 100%;
    }
    #aboutFD {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: justify;
    }
    #aboutCont {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    #footerFD {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #footerFD2 {
        padding-top: 0;
    }
    #footerFD2 p {
        margin-left: 0;
    }
    #footerSD {
        padding-top: 10px;
    }
    #footerSD p span {
        float: none;
        margin-right: 25px;
        text-align: center;
    }
    #colF Row Col p {
        margin-left: 0;
        text-align: center;
    }
    #footerSD2 {
        padding-top: 0px;
    }
    #footerSD2 .row {
        margin-right: 0px;
    }
    #footerLogo {
        display: none;
    }
    #servicesP p {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-left: 0px;
    }
    #servicesP2 p {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        text-align: justify;
        margin-right: 0px;
    }
    .card {
        margin-bottom: 10px;
        padding: 0px;
        margin-right: 0px;
    }
}