.containerHolder {
    position: relative;
    margin-top: 50px;
    width: 350px;
    height: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.containerHolder:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

img {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 0;
}

.title {
    position: absolute;
    text-align: center;
    left: 15%;
    right: 15%;
    top: 100px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    background: rgba(0, 0, 0, .3);
    padding: 15px;
    border: 1px solid #000;
}

.containerHolder:hover .title {
    top: 90px;
}

.button {
    position: absolute;
    margin-left: 75px;
    left: 0;
    top: 190px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    background: linear-gradient(to right, black 50%, rgb(251, 120, 32) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color: #000;
    border: solid 2px #fb7820;
    background-color: #fb7820;
    width: 200px;
    padding: 12px 48px;
}

.button:hover {
    background-position: left bottom;
    border: #000 solid 2px;
    color: #fb7820;
    background-color: #000;
}

.button a {
    width: 200px;
    text-align: center;
    z-index: 1;
}

.button a:hover {
    cursor: pointer;
}

.containerHolder:hover .button {
    opacity: 1;
}

.modalImg {
    display: block;
    overflow: hidden;
    width: 350px;
    height: 250px;
}